{% extends 'admin.html.twig' %}

{% block title %} Picture {% endblock %}

{% block body %}

    <div class="admin_sub_menu">
      <ul>
        <li><a href="#" id="addPictureForm">Ajouter des images</a></li>
        <li><a href="#" id="updatePictureForm">Mettre à jour des images</a></li>
        </ul>
    </div>
    
    <div id="picture_form" >
        <h2>Ajouter une image image</h2>
        <div {%if error =='true' %} class ="error" {% else %}class="info"{% endif %}>{{message}}</div>
        <form method="post" action="picture.php?language={{language_picture}}" id="chooseLanguageForPictureInsert">
            <label for="language_picture">Langue :</label>
            <select name="language_picture" id="language_picture">
                    <option value="">Choisir la langue</option>
                {% for key, languageItem in language %}
                    <option value="{{ languageItem.language_id }}" {% if language_picture  ==  languageItem.language_id  %} selected {% endif %}>{{ languageItem.language }}</option>
                {% endfor %}
            </select>            
        </form>

        {% if active == true %}
            <form method="post" action="picture.php?language={{language_picture}}" id="chooseProduct">
            <label for="category_title">Choississez la catégorie :</label>
            <select name="category" id="categorySelect" >
            {% for key, categoryListItem in category_list %}
                <option value="{{ categoryListItem.category_id }}" {% if category_id  ==  categoryListItem.category_id %} selected {% endif %}>{{ categoryListItem.category_title }}</option>
            {% endfor %}
            </select>
            <p>
                <input type="submit" value="Valider" name="chooseProduct"/>
            </p>
        </form>
        {% endif %}
    </div>

{% endblock %}