{% extends 'admin.html.twig' %}

{% block title %} Caractéristiques {% endblock %}

{% block body %}

    <div class="admin_sub_menu">
      <ul>
        <li><a href="specification.php" id="addSepcificationForm">Ajouter une caractéristique</a></li>
        <li><a href="specification_update.php" id="showCategoryList">Modifier une caractéristique</a></li>
        </ul>
    </div>

    <div id="specification_form" >
        <h2>Ajouter une nouvelle specification</h2>
        <div {%if error =='true' %} class ="error" {% else %}class="info"{% endif %}>{{message}}</div>
        <form method="post" action="specification.php" id="chooseLanguageForInsert">
            <label for="language_category">Langue :</label>
            <select name="language_category" id="language_category">
                    <option value="">Choisir la langue</option>
                {% for key, languageItem in language %}
                    <option value="{{ languageItem.language_id }}" {% if language_category  ==  languageItem.language_id  %} selected {% endif %}>{{ languageItem.language }}</option>
                {% endfor %}
            </select>            
        </form>
        {% if active == true %}
            <form method="post" action="specification.php?language={{language_category}}" id="addSpecification">
                <label for="category">Catégorie :</label>
                <select name="category" id="category" >
                    <option value="">Choisir la catégorie</option>
                    {% for key, categoryListItem in category_list %}
                    <option value="{{ categoryListItem.category_id }}">{{ categoryListItem.category_title }} ({{ categoryListItem.language }})</option>
                    {% endfor %}
                </select>            
            <label for="code">Code <span class="required">*</span>:</label>
            <input type="text" value="" name="code" id="code" placeholder="Entrez le code"/>            
            <label for="designation">Désignation <span class="required">*</span>:</label>
            <input type="text" value="" name="designation" id="designation" placeholder="Entrez la designation"/>            
            <label for="height">Hauteur <span class="italic mini-size">(en mm)</span> <span class="required">*</span>:</label>
            <input type="text" value="" name="height" id="height" placeholder="Entrez la hauteur en mm"/>            
            <label for="witdh">Largeur <span class="italic mini-size">(en mm)</span> <span class="required">*</span>:</label>
            <input type="text" value="" name="width" id="width" placeholder="Entrez la largeur en mm"/>            
            <p class"legend">* Les champs sont obligatoires</p>
            <input type="submit" value="Valider" name="addSpecification"/>
        </form>
        {% endif %}
    </div>

{% endblock %}